# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Env files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
